# Ambientes Virtuais
/.venv/
env/

# Pastas com dados sensíveis (IMPORTANTE)
config/bq.json

# Arquivos de dados
*.csv
*.parquet
*.xls
*.xlsx

# Pasta de dados
data/

# Pastas compiladas do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas temporárias
tmp_inep_2022/

# Pastas do Sistema (Mac e Windows)
.DS_Store
Thumbs.db

# Pastas de IDEs (Editores de Código)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
